:root {
   --cordourada: #b28756;
   --btnbackground: #414141;
   --backgroundlight: #e7e7e7;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

/* UTILITÁRIO */
.default-block {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: auto;
}

.default-block-light {
   background-color: var(--backgroundlight);
   color: black;
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 40px 0;
   text-align: center;
}

.default-block-light h1 {
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
}

.default-block-light h2 {
   color: grey;
   font-size: 1rem;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 10px;
   margin-bottom: 30px;
}

.default-block-dark {
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 40px 0;
   text-align: center;
}

.default-block-dark h1 {
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
}

.default-block-dark h2 {
   color: grey;
   font-size: 1rem;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 10px;
   margin-bottom: 30px;
}

.btn--dourado {
   align-items: center;
   background-color: var(--cordourada);
   border: 1px solid transparent;
   border-radius: 30px;
   color: white;
   display: flex;
   font-size: .8rem;
   font-weight: 700;
   justify-content: center;
   margin-bottom: 40px;
   margin-top: 40px;
   max-width: 250px;
   padding: 15px 50px;
   text-decoration: none;
   text-transform: uppercase;
}

.btn--dourado:hover {
   background-color: white;
   border: 1px solid var(--cordourada);
   color: var(--cordourada);
   font-weight: 800;
   transition: .5s;
}

.btn--grey {
   background-color: var(--btnbackground);
   border-radius: 30px;
   color: white;
   font-size: .8rem;
   font-weight: 600;
   margin-top: 20px;
   max-width: 250px;
   padding: 15px 50px;
   text-decoration: none;
   text-transform: uppercase;
}

.btn--grey:hover {
   background-color: var(--cordourada);
   transition: .5s;
}





body {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   overflow-x: hidden;
}





.c-header {
   background-color: black;
   color: white;
   font-size: .9rem;
   height: 100px;
}

.c-header .c-header__innerblock {
   align-items: center;
   display: flex;
   height: 100px;
   justify-content: space-around;
   margin: auto;
   max-width: 1200px;
   padding: 0 30px;
}

.c-header .logoimg {
   align-items: center;
   display: flex;
   border: 2px solid white;
   border-radius: 60%;
   height: 50px;
   justify-content: center;
   width: 50px;
}

.c-header__menuopeneritem {
   display: none;
   width: 40px;
   height: 35px;
}

.c-header .c-nav__list {
   align-items: center;
   display: flex;
   height: 100px;
}

.c-header .c-nav__list-item {
   align-items: center;
   border-bottom: 5px solid black;
   color: white;
   display: flex;
   font-weight: 600;
   height: 100px;
   list-style: none;
   text-transform: uppercase;
}

.c-header .c-nav__list-link {
   align-items: center;
   border-bottom: 5px solid black;
   color: white;
   display: flex;
   font-weight: 600;
   height: 100px;
   text-decoration: none;
   margin: 5px;
   padding: 5px;
}

.c-header .c-nav__list-link--active {
   border-bottom: 5px solid var(--cordourada);
   color: lightgrey;
}

.c-header .c-nav__list-link:hover {
   border-bottom: 5px solid var(--cordourada);
   color: lightgrey;
}

@media (max-width: 1050px) {
   .c-header .c-header__innerblock {
      justify-content: space-between;
   }

   .c-header__menuopeneritem {
      display: flex;
      width: 40px;
      height: 35px;
   }

   .c-header .c-header__menu {
      background-color: rgba(0, 0, 0, 1);
      display: none;
      height: calc(100vh);
      position: absolute;
      right: 0;
      top: 100px;
      width: 40%;
      z-index: 10;
   }

   .c-header .c-nav__list {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 30px;
   }

   .c-header .c-nav__list-item {
      border-bottom: 0;
      font-weight: 700;
      font-size: 1.5rem;
      height: 50px;
   }

   .c-header .c-nav__list-link {
      border-bottom: 0;
   }

   .c-header .c-nav__list-link--active {
      border-bottom: 0;
      color: var(--cordourada);
   }

   .c-header .c-nav__list-link:hover {
      border-bottom: 0;
      color: var(--cordourada);
   }
}

@media (max-width: 750px) {
   .c-header .c-header__menu {
      width: 70%;
   }

   .c-header .c-nav__list-item {
      font-size: 1.2rem;
   }
}

@media (max-width: 600px) {
   .c-header .c-header__menu {
      width: 100%;
   }
}


.c-main {
   background-color: grey;
   background-image: url(../images/bg.jpg);
   background-size: cover;
   background-position: bottom;
   height: calc(100vh - 100px);
   overflow: hidden;
}

.c-main .c-slider {
   background-color: rgba(0, 0, 0, .8);
   color: white;
   display: flex;
   height: 100%;
   margin-left: -00vw;
   width: 300vw;
   /*margin-left: -100vw; para visualizar os demais slides*/
}

.c-main .c-slider__slide {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100vw;
}

.c-main .c-slider__slide h1 {
   font-size: 4rem;
   text-transform: uppercase;
}

.c-main .c-slider__slide span {
   color: var(--cordourada);
   font-size: 4rem;
   text-transform: uppercase;
}

.c-main .c-slider__slide h2 {
   font-size: 1.2rem;
   margin-top: 10px;
   text-transform: uppercase;
}

.c-main .c-sliderdots {
   align-items: center;
   display: flex;
   height: 20px;
   justify-content: center;
   margin-top: -60px;
   position: absolute;
   width: 100vw;
}

.c-main .c-sliderdots__dots {
   border: 2px solid var(--cordourada);
   border-radius: 8px;
   cursor: pointer;
   height: 15px;
   margin: 5px;
   width: 15px;
}

.c-main .c-sliderdots__dots--active {
   background-color: var(--cordourada);
   border: 2px solid var(--cordourada);
}

@media (max-width: 750px) {
   .c-main .c-slider__slide h1 {
      font-size: 3rem;
   }

   .c-main .c-slider__slide span {
      font-size: 3rem;
   }

   .c-main .c-slider__slide h2 {
      font-size: 1rem;
   }
}

@media (max-width: 600px) {
   .c-main .c-slider__slide h1 {
      font-size: 1.5em;
   }

   .c-main .c-slider__slide span {

      font-size: 1.5rem;
      text-transform: uppercase;
   }

   .c-main .c-slider__slide h2 {
      font-size: .8rem;
   }
}





.c-aboutus .c-aboutus__innerblock {
   max-width: 1140px;
   padding: 20px;
}

.c-aboutus .c-aboutus__textbox {
   align-items: center;
   align-self: flex-start;
   display: flex;
   flex: 1;
   flex-direction: column;
   line-height: 1.5rem;
   margin-right: 30px;
   min-width: 280px;
   text-align: justify;
}

.c-aboutus .c-aboutus__videobox {
   max-width: 400px;
}

.c-aboutus .c-aboutus__videobox img {
   box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
   width: 100%;
}

@media (max-width: 750px) {
   .c-aboutus .c-aboutus__textbox {
      margin-right: 0;
   }

}





.c-services .c-services__innerblock {
   align-items: flex-start;
   max-width: 1140px;
}

.c-services .c-services__innerblock:nth-child(3) {
   border-left: 1px solid grey;
}

.c-services .c-services__flexitem {
   border-right: 1px solid grey;
   flex: 1;
   padding: 20px;
   text-align: center;
   min-width: 260px;
}

.c-services .c-services__flexitem h3 {
   margin-bottom: 10px;
   margin-top: 20px;
   text-transform: uppercase;
}

.c-services .c-services__flexitem img {
   height: 60px;
   margin: auto;
}

.c-services .c-services__flexitem p {
   color: grey;
   font-size: .9rem;
}

@media (max-width: 1050px) {
   .c-services .c-services__innerblock:nth-child(3) {
      border-left: 0;
   }
}



.c-ourprojects .c-ourprojects__innerblock {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   margin-bottom: 40px;
   max-width: 1140px;
}


.c-ourprojects .c-filtermenu ul {
   background-color: white;
   border: 1px solid grey;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   margin: auto;
   padding: 5px 15px;
   text-transform: uppercase;
}

.c-ourprojects .c-filtermenu__item {
   border-bottom: 3px solid transparent;
   justify-content: center;
   list-style: none;
   margin: 10px;
}

.c-ourprojects .c-filtermenu__link {
   color: grey;
   cursor: pointer;
   padding: 15px 5px;
   text-decoration: none;
}

.c-ourprojects .c-filtermenu__item:hover .c-filtermenu__link {
   background-color: white;
   border-bottom: 3px solid var(--cordourada);
}

.c-ourprojects .c_photoblock {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   margin-bottom: 40px;
   margin-top: 40px;
   max-width: 1140px;
}

.c-ourprojects .c-photoblock__area {
   height: 150px;
   margin: 15px;
   width: 245px;
}

.c-ourprojects .c-photoblock__item {
   height: inherit;
   width: inherit;
}

.c-ourprojects .c_photoblock img {
   height: inherit;
   width: inherit;
}

.c-ourprojects .c-photoblock__text {
   align-items: center;
   background-color: rgba(0, 0, 0, .5);
   color: white;
   display: none;
   flex-direction: column;
   height: inherit;
   justify-content: center;
   padding: 15px;
   position: absolute;
   width: inherit;
}

.c-ourprojects .c-photoblock__text h4 {
   font-weight: 600;
   margin: 15px;
   text-transform: uppercase;
}

.c-ourprojects .c-photoblock__text p {
   font-size: .8rem;
   line-height: 1.5rem;
}

.c-ourprojects .c-photoblock__item:hover .c-photoblock__text {
   display: flex;
}

@media (max-width: 650px) {
   .c-filtermenu {
      width: 100%;
   }

   .c-ourprojects .c-filtermenu ul {
      width: 100%;
      flex-direction: column;
      border: 0;
      border-radius: 0;
   }
}





.c-ourteam {
   background-image: url(../images/ourteambg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   padding: 0;
}

.c-ourteam .c-ourteam__innerblock {
   max-width: 1140px;
}

.c-ourteam__darking {
   background-color: rgba(0, 0, 0, .8);
   width: 100vw;
   padding: 40px 0;
}

.c-ourteam .c-slider {
   color: white;
   display: flex;
   height: 100%;
   margin: auto;
   max-width: 920px;
   overflow: hidden;
   /*margin-left: -100vw; para visualizar os demais slides*/
}

.c-ourteam .c-slider__slide {
   align-items: center;
   background-color: white;
   border-radius: 5px;
   color: black;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   margin: 15px;
   max-width: 300px;
   padding: 40px;
   text-align: center;
}

.c-ourteam .name {
   margin-top: 2rem;
   font-size: 1.2rem;
   text-transform: uppercase;
}

.c-ourteam .company-position {
   color: grey;
   font-size: .8rem;
   font-weight: 600;
   margin-top: 5px;
}

.c-ourteam .c-slider__socialmedia {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.c-ourteam .socialmedia__link {
   align-items: center;
   background-color: grey;
   border-radius: 15px;
   display: flex;
   height: 30px;
   justify-content: center;
   margin: 5px;
   width: 30px;
}

.c-ourteam .socialmedia__link:hover {
   background-color: var(--cordourada);
   transition: .5s;
}

.c-ourteam .c-sliderdots {
   align-items: center;
   background-image: none;
   display: flex;
   height: 20px;
   justify-content: center;
   margin-top: 20px;
}

.c-ourteam .c-sliderdots__dots {
   border: 2px solid var(--cordourada);
   border-radius: 8px;
   cursor: pointer;
   height: 15px;
   margin: 5px;
   width: 15px;
}

.c-ourteam .c-sliderdots__dots--active {
   background-color: var(--cordourada);
   border: 2px solid var(--cordourada);
}

@media (max-width: 950px) {
   .c-ourteam .c-slider {
      max-width: 620px;
   }
}

@media (max-width: 650px) {
   .c-ourteam .c-slider {
      max-width: 280px;
   }

   .c-ourteam .c-slider__slide {
      width: 250px;
   }
}





.c-happyclients {
   overflow: hidden;
}

.c-happyclients .c-slider {
   display: flex;
   justify-content: center;
   margin-left: 00vw;
   width: 200vw;
   /*margin-left: -100vw; para visualizar os demais slides*/
}

.c-happyclients .c-slider__slide {
   align-items: center;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 40px;
   width: 100vw;
}

.c-happyclients .name {
   margin-top: 1.5rem;
   font-size: 1.2rem;
}

.c-happyclients .company-position {
   font-size: .8rem;
   font-weight: 600;
   margin-bottom: 30px;
   margin-top: 5px;
}

.c-happyclients .c-happyclietns__textbox {
   color: grey;
   margin-top: 20px;
   width: 60%;
}

.c-happyclients .c-sliderdots {
   align-items: center;
   background-image: none;
   display: flex;
   height: 20px;
   justify-content: center;
   margin-top: 20px;
}

.c-happyclients .c-sliderdots__dots {
   border: 2px solid var(--cordourada);
   border-radius: 8px;
   cursor: pointer;
   height: 15px;
   margin: 5px;
   width: 15px;
}

.c-happyclients .c-sliderdots__dots--active {
   background-color: var(--cordourada);
   border: 2px solid var(--cordourada);
}

@media (max-width: 650px) {
   .c-happyclients .c-happyclietns__textbox {
      width: 95%;
   }
}





.c-clientslogo {
   padding: 40px 0;
   border-top: 1px solid grey;
   border-bottom: 1px solid grey;
}

.c-clientslogo .c-clientslogo__innerblock {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   max-width: 1140px;
}

.c-clientslogo img {
   height: 50px;
   width: auto;
   margin: 30px 40px;
}

@media (max-width: 650px) {
   .c-clietnslogo .c-clientslogo__innerblock {
      flex-direction: column;
   }
}





.c-price .c-price__innerblock {
   max-width: 1140px;
}

.c-price .c-price__item {
   align-items: center;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   padding: 30px;
   margin: 10px;
}

.c-price .c-price__category {
   color: grey;
   font-size: 1rem;
   text-transform: uppercase;
}

.c-price .c-price__cost {
   font-size: 2rem;
   margin-top: 15px;
   text-transform: uppercase;
}

.c-price .c-price__month {
   color: grey;
   font-size: .7rem;
   margin-bottom: 25px;
   text-transform: uppercase;
}

.c-price .c-price__services {
   color: grey;
   display: block;
   font-size: .8rem;
   font-weight: 600;
   margin: 5px;
}

.c-price .c-price__dash {
   background-color: grey;
   height: 2px;
   margin: 5px;
   width: 10px;
}





.c-categories {
   overflow-x: hidden;
   border-top: 1px solid grey;
}

.c-categories .c-slider {
   align-items: center;
   display: flex;
   justify-content: center;
   margin-left: 00vw;
   margin-top: 40px;
   width: 400vw;
   /*margin-left: -100vw; para visualizar os demais slides*/
}

.c-categories .c-slider__slide {
   align-items: center;
   border-top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100vw;
   text-align: center;
}

.c-categories .c-slider__slide h1 {
   color: black;
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
}

.c-categories .c-slider__slide h2 {
   color: grey;
   font-size: 1rem;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 30px;
   text-transform: uppercase;
}

.c-categories .c-slider__slidecontent {
   border-bottom: 2px solid lightgrey;
   align-items: center;
   display: flex;
   justify-content: space-around;
   max-width: 1000px;
   padding: 20px;
}

.c-categories .c-slider__slide-imgarea {
   width: 50%;
   margin: auto;
}

.c-categories .c-slider__slide-imgarea img {
   min-width: 150px;
}

.c-categories .c-slidetextbox__title {
   align-items: center;
   display: flex;
   font-size: 1.2rem;
   height: 50px;
   justify-content: center;
   margin-top: 20px;
   text-transform: uppercase;
}

.c-categories .c-slidetextbox__title::before {
   content: url(../images/check.png);
   margin-right: 10px;
   align-items: center;
}

.c-categories .c-slidetextboxtitle img {
   min-width: 20px;
   margin-right: 10px;
}

.c-categories .c-slidetextbox p {
   color: grey;
   line-height: 1.8rem;
}

.c-categories .c-categories__navarea {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.c-categories .c-sliderdots {
   align-items: center;
   display: flex;
   height: 20px;
   justify-content: center;
   margin-top: 40px;
   width: 100vw;
}

.c-categories .c-sliderdots__dots {
   border: 2px solid var(--cordourada);
   border-radius: 8px;
   cursor: pointer;
   height: 15px;
   margin: 5px;
   width: 15px;
}

.c-categories .c-sliderdots__dots--active {
   background-color: var(--cordourada);
   border: 2px solid var(--cordourada);
}

@media (max-width: 750px) {
   .c-categories .c-slider__slidecontent {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   .c-categories .c-slidetextbox {
      margin-left: 0;
   }

   .c-categories .c-slider__slide-livros {
      width: 200px;
   }
}





.c-somefacts .c-somefacts__innerblock {
   align-items: flex-start;
   max-width: 1140px;
}

.c-somefacts .c-somefacts__flexitem {
   flex: 1;
   padding: 20px;
   min-width: 280px;
   text-align: center;
}

.c-somefacts .c-somefacts__flexitem h3 {
   color: var(--cordourada);
   font-size: 3rem;
}

.c-somefacts .c-somefacts__flexitem h4 {
   margin-bottom: 10px;
   margin-top: 20px;
   text-transform: uppercase;
}

.c-somefacts .c-somefacts__flexitem p {
   color: grey;
   font-size: .9rem;
}





.c-contactus .c-contactform {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: auto;
   max-width: 600px;
   padding: 15px;
}

.c-contactus .c-contactform__name,
.c-contactus .c-contactform__email {
   background-color: var(--backgroundlight);
   border: none;
   border-bottom: 3px solid grey;
   font-size: 1rem;
   font-weight: 500;
   line-height: 2rem;
   margin-top: 40px;
   min-width: 260px;
   outline: none;
   width: 48%;
}

.c-contactus .c-contactform__subject {
   background-color: var(--backgroundlight);
   border: none;
   border-bottom: 3px solid grey;
   font-size: 1rem;
   font-weight: 500;
   line-height: 2rem;
   margin-top: 40px;
   min-width: 260px;
   outline: none;
   width: 100%;
}

.c-contactus .c-contactform__textarea {
   background-color: var(--backgroundlight);
   border: none;
   border-bottom: 3px solid grey;
   display: flex;
   line-height: 2rem;
   margin-top: 40px;
   min-width: 260px;
   outline: none;
   resize: none;
   width: 100%;
}

.c-contactus .c-contactform__textarea::placeholder {
   font-size: 1.1rem;
}

@media (max-width: 600px) {

   .c-contactus .c-contactform__name,
   .c-contactus .c-contactform__email {
      min-width: 260px;
      width: 100%;
      margin-top: 40px;
   }
}





.c-map {
   background-image: url(../images/mapa.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 30px;
}

.c-map .c-map__innerblock {
   max-width: 1140px;
   display: flex;
   justify-content: space-around;
}

.c-map .c-map__locationtextarea {
   background-color: white;
   border-radius: 5px;
   border: 1px solid lightgrey;
   color: grey;
   font-size: .9rem;
   font-weight: 550;
   padding: 30px;
   width: 60%;
}

.c-map .c-map__locationtextdetails {
   display: flex;
   align-items: center;
   overflow-wrap: break-word
}

.c-map .c-map__locationtextdetails-item {
   align-items: center;
   background-color: grey;
   border-radius: 20px;
   display: flex;
   height: 35px;
   justify-content: center;
   margin: 10px 20px 10px 0;
   min-width: 35px;
}

.c-map .c-map__locationimagearea {
   align-items: center;
   display: flex;
   justify-content: center;
   padding: 30px;
   width: 40%;
}

.c-map .c-map__locationimagearea .c-map__locationtextdetails-item {
   align-items: center;
   background-color: var(--cordourada);
   border-radius: 25px;
   display: flex;
   height: 50px;
   justify-content: center;
   margin: 10px 20px 10px 0;
   min-width: 50px;
}

@media (max-width: 750px) {
   .c-map {
      padding: 0px;
   }

   .c-map .c-map__innerblock {
      flex-direction: column;
   }

   .c-map .c-map__locationtextarea {
      border-radius: 0;
      border: 0;
      font-size: .8rem;
      padding: 10px;
      width: 100%;
   }
}





.c-footer {
   padding: 0;
}

.c-footer .c-foooter__innerblock {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   max-width: 1140px;
   padding: 20px 10px;
}

.c-footer .c-footer__socialmedia {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: space-between;
   margin: 10px;
   padding: 10px;
   width: 300px;
}

.c-footer .socialmedia__link {
   align-items: center;
   background-color: var(--btnbackground);
   border-radius: 15px;
   display: flex;
   height: 30px;
   justify-content: center;
   margin: 5px;
   width: 30px;
}

.c-footer .socialmedia__link:hover {
   background-color: var(--cordourada);
   transition: .5s;
}

.c-footer .c-footer__socialmediatrade {
   color: grey;
   font-size: 1rem;
   text-align: left;
}

.c-footer .c-footer__socialmedialink {
   display: flex;
   justify-content: space-around;
}

.c-footer .c-footer__textbox {
   color: grey;
   flex: 2;
   font-size: .9rem;
   line-height: 1.4rem;
   margin: 10px;
   padding: 10px;
   text-align: justify;
}

.c-footer .c-footer__newsletter {
   align-items: center;
   background-color: var(--btnbackground);
   border-radius: 5px;
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: center;
   margin: 10px;
   padding: 30px;
}

.c-footer .c-footer__subscribeinput {
   background-color: var(--btnbackground);
   border: none;
   border-bottom: 3px solid grey;
   color: grey;
   line-height: 2rem;
   margin-bottom: 30px;
   min-width: 200px;
   outline: none;
   text-align: center;
}

.c-footer .c-footer__link {
   margin: 20px;
}

@media (max-width: 750px) {
   .c-footer .c-foooter__innerblock {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      width: 100%;
   }

   .c-footer .c-footer__socialmediatrade {
      margin-top: 20px;
      text-align: left;
   }

   .c-footer .c-footer__socialmedia {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
   }

   .c-footer .c-footer__textbox {
      width: 100%;
      margin: 0;
   }

   .c-footer .c-footer__newsletter {
      width: 100%;
      margin: 0;
   }
}